In [2]:
########################### Imports and DB Work

In [4]:
import requests
import json

In [5]:
import mysql.connector

In [6]:
import config

In [7]:
cnx = mysql.connector .connect(
    host = config.host,
    user = config.user,
    passwd = config.pw)

In [8]:
    
cursor = cnx.cursor()

In [13]:
cursor.execute("CREATE DATABASE yelp")

In [12]:
cnx.database = 'yelp'

In [9]:
cursor

In [29]:
create_table_businesses = """CREATE TABLE businesses
                        (business_id VARCHAR(225) PRIMARY KEY,
                        name VARCHAR(225) NOT NULL,
                        address VARCHAR(225) NOT NULL,
                        rating FLOAT NOT NULL,
                        price VARCHAR(50),
                        review_count INT NOT NULL);"""

In [30]:
cursor.execute(create_table_businesses)

In [10]:
create_table_reviews = """CREATE TABLE reviews
                        (review_id VARCHAR(30) PRIMARY KEY,
                        review_text VARCHAR(150) NOT NULL,
                        rating FLOAT,
                        time_created NUMERIC,
                        business_id VARCHAR(225) NOT NULL,
                        CONSTRAINT fk_businesses
                        FOREIGN KEY (business_id)
                            REFERENCES businesses(business_id));"""

In [13]:
cursor.execute(create_table_reviews)

In [ ]:
############################## Yelp call 1 setup

In [38]:
url = 'https://api.yelp.com/v3/businesses/search'

In [39]:
client_id = 'SrP-vVinyIiYU2-NOuqnOA'
api_key = 'CaJ2qY7XSMjW7nhV9IK8KiEYI6Yj3kPAXR6Jdgstzo-YOFuAfT3AbrRF6UID6P9ia75sS8dzlih1HNcZEK1EHzu8Dp-gOnC3eVdyNpHKt4iJIUIOC7ovxCM68jrpXXYx'

In [40]:
headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

In [41]:
# what type of business do you want to search
term = 'bagel'

#where do you want to perform this search
location = 'East Village'

# what is your other parameter you want to search against
radius = 5000

limit = 50

In [43]:
url_params = {
                "term": term.replace(' ', '+'),
                "location": location.replace(' ', '+'),
                "radius" : radius,
                "limit" : limit
            }

In [44]:
response = requests.get(url, headers=headers, params=url_params)

In [ ]:
############################# Working on the response

In [45]:
data = response.json()

In [46]:
data['businesses'][0]

{'id': 'VrCCr45dhN-RRM107iptdg',
 'alias': 'russ-and-daughters-new-york',
 'name': 'Russ & Daughters',
 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/EN-MJ-kuk_-ihX1_DKHgFA/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/russ-and-daughters-new-york?adjust_creative=SrP-vVinyIiYU2-NOuqnOA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SrP-vVinyIiYU2-NOuqnOA',
 'review_count': 2142,
 'categories': [{'alias': 'bagels', 'title': 'Bagels'},
  {'alias': 'smokehouse', 'title': 'Smokehouse'},
  {'alias': 'bakeries', 'title': 'Bakeries'}],
 'rating': 4.5,
 'coordinates': {'latitude': 40.722589, 'longitude': -73.9882828294139},
 'transactions': [],
 'price': '$$',
 'location': {'address1': '179 E Houston St',
  'address2': '',
  'address3': '',
  'city': 'New York',
  'zip_code': '10002',
  'country': 'US',
  'state': 'NY',
  'display_address': ['179 E Houston St', 'New York, NY 10002']},
 'phone': '+12124754880',
 'display_phone': '(212) 475-4880',
 'distance': 678.2185393150921}

In [ ]:
########################### Parsing

In [47]:
business = data['businesses'][0]

In [75]:
#Create a tuple that contains only the information that we want
#the join is used because that result comes back as a list and we want to convert into a string
biz_tuple = (business['id'], business['name'], ' '.join(business['location']['display_address']), business['rating'], len(business['price']), business['review_count'])

In [79]:
biz_tuple

('VrCCr45dhN-RRM107iptdg',
 'Russ & Daughters',
 '179 E Houston St New York, NY 10002',
 4.5,
 2,
 2142)

In [80]:
def parse_data(data_list):
    # create a container to hold our parsed data
    parse_data = []  
    
    # loop through our business and parse each individual business
    for business in data_list:
        try:
            biz_tuple = (business['id'], business['name'], ' '.join(business['location']['display_address']), business['rating'], len(business['price']), business['review_count'])
    # in the loop, add each individual parsed parsed business to our data container
            parse_data.append(biz_tuple)
    # return the container with all of the parsed results     
        except:
            biz_tuple = (business['id'], business['name'], ' '.join(business['location']['display_address']), business['rating'], 0, business['review_count'])
            parse_data.append(biz_tuple)
    return parse_data

In [81]:
parse_data(data['businesses'])

[('VrCCr45dhN-RRM107iptdg',
  'Russ & Daughters',
  '179 E Houston St New York, NY 10002',
  4.5,
  2,
  2142),
 ('j1S3NUrkB3BVT49n_e76NQ',
  'Best Bagel & Coffee',
  '225 W 35th St New York, NY 10001',
  4.5,
  1,
  3166),
 ('oi39VAwo4-KGm_gSkWPCsQ',
  'Tompkins Square Bagels - Avenue A',
  '165 Avenue A New York, NY 10009',
  4.0,
  1,
  1077),
 ('foO2N-TrdPBO-dFn6M35TA',
  'Brooklyn Bagel & Coffee Company',
  '63 E 8th St New York, NY 10003',
  4.5,
  0,
  88),
 ('BIFbVuIDJFS_2u_8vJxnwA',
  'Tompkins Square Bagels -  2nd Ave',
  '184 2nd Ave New York, NY 10003',
  4.0,
  1,
  199),
 ('c3eMI4_o4dPDDhPV_ibBYQ',
  'Ess-a-Bagel',
  '831 3rd Ave New York, NY 10022',
  4.0,
  1,
  3471),
 ('u9zVZH0liQu9skIz1kGrMA',
  "Heaven's Hot Bagel",
  '283 E Houston St New York, NY 10002',
  4.0,
  1,
  192),
 ('SCornvTSCMQ2SvWGq8Z_Mw',
  'Ess-A-Bagel',
  '324 1st Ave New York, NY 10009',
  4.0,
  1,
  845),
 ('gwo5ci1qtZZhOURn81ddhg',
  "Greenberg's Bagels",
  '103 N 3rd St Brooklyn, NY 11249',
  3.5,
  0,
  12),
 ('tRys0z0O4EE8sivXLFZ3kQ',
  "David's Bagels",
  '273 1st Ave New York, NY 10003',
  4.0,
  1,
  334),
 ('Ys9iYSjuFDpZj7B1X07v5g',
  'Liberty Bagels Midtown',
  '260 W 35th St New York, NY 10001',
  4.5,
  1,
  367),
 ('pb_ryc8FYHpUPV56eV2Eyg',
  'Brooklyn Bagel & Coffee Company',
  '286 8th Ave New York, NY 10001',
  4.0,
  1,
  1395),
 ('UgTfFaQ_NAyne5OwLtTpXQ',
  'Bagels & Schmear',
  '116 E 28th St New York, NY 10016',
  4.0,
  1,
  476),
 ('0rQz8mkleT62eUkiAVs4UA',
  'Russ & Daughters Cafe',
  '127 Orchard St New York, NY 10002',
  4.0,
  2,
  953),
 ('aM8SCVt3APBw1kE5Zg0kkQ',
  'Native Bean',
  '36A Ave A New York, NY 10009',
  4.5,
  1,
  90),
 ('2buX7P8YIqcrHSKtqwm92g',
  "Kossar's",
  '367 Grand St New York, NY 10002',
  3.5,
  1,
  494),
 ('4v5lbiExMocWoG7iKnYWrQ',
  'Black Seed Bagels',
  '176 First Ave New York, NY 10012',
  3.0,
  2,
  223),
 ('n8AfzNmqZUfXZzHtieea_A',
  "Murray's Bagels",
  '500 Ave Of The Americas New York, NY 10011',
  3.5,
  1,
  836),
 ('1s95hIhSQhLroVtp-4uOtw',
  'Black Seed Bagels',
  '170 Elizabeth St New York, NY 10012',
  3.0,
  2,
  681),
 ('Gpc2-sPCXlIQUrkfi4bpzw',
  'Court Street Bagels',
  '181 Court St Brooklyn, NY 11201',
  4.0,
  1,
  194),
 ('7HP9pH30Ha7xJsxsdVJBrg',
  'Bagelsmith',
  '189 Bedford Ave Brooklyn, NY 11211',
  3.5,
  1,
  488),
 ('XTa5infpecABoyLZ86EH2w',
  "Bagel Bob's",
  '51 University Pl New York, NY 10003',
  4.0,
  1,
  174),
 ('P91q647NhgyIf7nLc4wYsQ',
  "Frankel's Delicatessen",
  '631 Manhattan Ave Brooklyn, NY 11222',
  4.0,
  2,
  238),
 ('S0QgzOvaw5COMRnKWlVGnA',
  'Baz Bagel and Restaurant',
  '181 Grand St New York, NY 10013',
  3.5,
  2,
  379),
 ('bvIXVgn_Do7K7qnqcJmWhA',
  'Tal Bagels',
  '357 1st Ave New York, NY 10010',
  3.5,
  1,
  121),
 ('VHORZQg5A3YNBptRN92QGg',
  'The Lazy Llama Coffee Bar',
  '72 E 1st Street New York, NY 10003',
  4.5,
  2,
  83),
 ('kuKSvCZDFrgOrY-dcrOefg',
  'Round K',
  '99 Allen St New York, NY 10002',
  4.5,
  2,
  364),
 ('SSMCUb9erxbOkz6XUgHfKA',
  "Andrew's Classic BKLYN Bagels by Hard Times Sundaes",
  '445 Albee Square W Brooklyn, NY 11201',
  4.5,
  0,
  7),
 ('U43uuWwSyH95gXsUhejd4w',
  'La Bagel Delight at Dumbo',
  '104 Front St Brooklyn, NY 11201',
  3.5,
  1,
  140),
 ('rGfDX_ors68i8LnuG55NQA',
  'Bagel Buffet',
  '510 Ave Of Americas New York, NY 10011',
  4.0,
  1,
  52),
 ('lQ7H-COT5duZQQ0XqGFPDg',
  'Smith St Bagels',
  '202 Smith St Brooklyn, NY 11201',
  4.0,
  1,
  362),
 ('FkBFKwF9bDl3BCt3vebHbw',
  'Williamsburg Bagel',
  '343 Roebling St Brooklyn, NY 11211',
  3.5,
  1,
  27),
 ('tPfXeeC54I8MLSUE6Tnzcw',
  'Bagel Belly',
  '114 Third Ave New York, NY 10003',
  3.0,
  1,
  159),
 ('Cvcb-ZSNCNmb-pW38j8JFQ',
  'Black Seed Bagels',
  '75 9th Ave Chelsea Market New York, NY 10011',
  4.0,
  0,
  4),
 ('pWywDImlX0n_XKPNg0Bizg',
  "Sunny and Annie's",
  '94 Ave B New York, NY 10003',
  4.5,
  1,
  472),
 ('NF0YMfLNRhqssVcwzF6fCg',
  'Three Seat Espresso',
  '137 Avenue A New York, NY 10009',
  4.5,
  2,
  182),
 ('drSJJWL7lsG8dSRYI--6wQ',
  'NY Bagels & Cafe',
  '587 1st Ave New York, NY 10016',
  4.0,
  1,
  200),
 ('eAWGPqVKNrUuLw7V5S8mYQ',
  'Bagel Boss',
  '263 1st Ave New York, NY 10003',
  3.0,
  1,
  170),
 ('3PAWQuIvJ8DIa5akaF3XYQ',
  'Marcy & Myrtle Cafe',
  '101 N 10th St Brooklyn, NY 11249',
  5.0,
  0,
  13),
 ('ohgo7IDUn5bOWnDJP9xvYQ',
  'Davidovich Bakery',
  '88 Essex St New York, NY 10002',
  3.5,
  1,
  103),
 ('s-Fg5eHqv4VCAn2ANkHiZA',
  "Leo's Bagels",
  '3 Hanover Sq New York, NY 10005',
  3.5,
  1,
  842),
 ('GLf8_rOnkszkGmPAiMzO9Q',
  'Bread & Spread',
  '151 Front St Dumbo, NY 11201',
  4.5,
  2,
  137),
 ('MzSsxuBwJBlHmNFgEiOOeA',
  'Have-A-Bagel',
  '197 Havemeyer St Brooklyn, NY 11211',
  3.5,
  1,
  84),
 ('PWDSfW-c8198UegLtaTR1A',
  'Russ & Daughters at the Brooklyn Navy Yard',
  '141 Flushing Ave Bldg 77 Brooklyn, NY 11205',
  3.0,
  2,
  44),
 ('m6FV9h1mMJ9_LZetNOjNjg',
  'Bagelworks',
  '1229 1st Ave New York, NY 10065',
  4.0,
  1,
  367),
 ('rdgOCFe30sIaAo6tkXkJ-A',
  "Shelsky's of Brooklyn Appetizing & Delicateseen",
  '141 Court St Brooklyn, NY 11201',
  4.0,
  3,
  179),
 ('j1TePe2B6pjvvEg2VOLNcg',
  'Gramercy Bagels',
  '246 3rd Ave New York, NY 10010',
  3.0,
  1,
  150),
 ('lLsEzgmXwCoP6OK5ACT1Ig',
  'Ess-a-Bagel',
  '108 W 32nd St New York, NY 10001',
  3.5,
  2,
  86),
 ('u_NC3WVKFelz-PGZ7a97AQ',
  'District bagels',
  '125 Fulton St New York, NY 10038',
  3.0,
  0,
  38),
 ('PdynUlqpqc4GHyDNqNVIiA',
  'Future You Café',
  '117 E 7th St New York, NY 10009',
  4.5,
  0,
  49)]

In [85]:
parsed_data = parse_data(data['businesses'])

In [ ]:
###################### Inserting

In [ ]:
#def db_insert(cnx, cursor, parsed results):
    # your code to insert and commit the results
    # I would create the connection and cursor outside of this function and then pass it through

In [82]:
stmt = "INSERT INTO businesses (business_id, name, address, rating, price, review_count) VALUES (%s, %s, %s, %s, %s, %s)"

In [86]:
cursor.executemany(stmt, parsed_data)
cnx.commit()

In [ ]:
###################### Variable Tracking

In [ ]:
# create a variable  to keep track of which result you are in. 
cur = 0

#set up a while loop to go through and grab the result 
while cur < num and cur < 1000:
    #set the offset parameter to be where you currently are in the results 
    url_params['offset'] = cur
    #make your API call with the new offset number
    results = yelp_call(url_params, api_key)
    
    #after you get your results you can now use your function to parse those results
    parsed_results = parse_results(results)
    
    # use your function to insert your parsed results into the db
    db_insert(parsed_results)
    #increment the counter by 50 to move on to the next results
    cur += 50

In [ ]:
# create a variable  to keep track of which result you are in. 
cur = 0

#set up a while loop to go through and grab the result 
while cur < num and cur < 1000:
    #set the offset parameter to be where you currently are in the results 
    url_params['offset'] = cur
    #make your API call with the new offset number
    response = requests.get(url, headers=headers, params=url_params)
    
    #after you get your results you can now use your function to parse those results
    parsed_results = parse_results(response)
    
    # use your function to insert your parsed results into the db
    db_insert(parsed_results)
    #increment the counter by 50 to move on to the next results
    cur += 50